<div class="anamnese-info">
    <div class="edit-btn-box">
    {% if anamnese.pode_editar %}
        <a class="edit-button" href="{% url 'editar_anamnese' paciente.cns anamnese.pk %}">Editar</a>
    {% else %}
        <h6>Esta anamnese não pode ser editada.</h6><p>
        <a class="edit-button disabled-button   " href="">Editar</a>
    {% endif %}
    
    </div>
    <div class="info-label">Data:
    <div class="info-data">{{anamnese.data_cadastro|date}}</div>
    </div>
    <div class="info-label">Peso:
    <div class="info-data">{{anamnese.peso|default_if_none:"-"}} Kg</div>
    </div>
    <div class="info-label">Altura:
    <div class="info-data">{{anamnese.altura|default_if_none:"-"}} cm</div>
    </div>
    <div class="info-label">Cafeína:
    <div class="info-data">{{anamnese.cafeina|default_if_none:"-"}}</div>
    </div>
    <div class="info-label">Asma:
    <div class="info-data">{{anamnese.asma|default_if_none:"-"}}</div>
    </div>
    <div class="info-label">Tipo de exame:
    <div class="info-data">
        {{anamnese.tipo_exame|default_if_none:"-"}} - {{anamnese.exame_info_adicional|default_if_none:""}}
    </div>
    </div>
    <div class="info-label">DUM:
    <div class="info-data">{{anamnese.dum|default_if_none:"-"}}</div>
    </div>
    <div class="info-label">Motivo do exame:
    <div class="info-data">
        {{anamnese.motivo_exame|default_if_none:"-"}}
        {% if anamnese.motivo_exame_outros %}
            , {{anamnese.motivo_exame_outros}}
        {% endif %}
    </div>
    </div>
    <div class="info-label">HDA:
    <div class="info-data">
        {{anamnese.hda|default_if_none:"-"}}
        {% if anamnese.hda_outros %}
            , {{anamnese.hda_outros}}
        {% endif %}
    </div>
    </div>
    <div class="info-label">HPP:
    <div class="info-data">
        {{anamnese.hpp_risco|default_if_none:"-"}},
        {{anamnese.hpp_dac|default_if_none:"-"}},
        {{anamnese.hpp_comorbidades|default_if_none:"-"}}
        {% if anamnese.hpp_outros %}
            , {{anamnese.hpp_outros}}
        {% endif %}
    </div>
    </div>
    <div class="info-label">Exames prévios:
    <div class="info-data">
        {% if anamnese.exames_previos_eco %}
            <p>ECO: {{anamnese.exames_previos_eco|safe}}
            {% if anamnese.exames_previos_fe %}
                <p>FE: {{anamnese.exames_previos_fe|safe}}
            {% endif %}
        {% endif %}
        {% if anamnese.exames_previos_te %}
            <p>TE: {{anamnese.exames_previos_te|safe}}
            {% if anamnese.exames_previos_mets %}
                <p>METs: {{anamnese.exames_previos_mets|safe}}
            {% endif %}
        {% endif %}
        {% if anamnese.exames_previos_cat %}
            <p>CAT: {{anamnese.exames_previos_cat|safe}}
            {% if anamnese.exames_previos_tce %}
                <p>TCE: {{anamnese.exames_previos_tce|safe}}
            {% endif %}
        {% endif %}
        {% if anamnese.exames_previos_cm %}
            <p>CM: {{anamnese.exames_previos_cm|safe}}
        {% endif %}
        {% if anamnese.exames_previos_outros %}
            <p>Outros: {{anamnese.exames_previos_outros}}
        {% endif %}
    </div>
    </div>
    <div class="info-label">Medicamentos:
        <div class="info-data">
            {{anamnese.medicamentos|safe|default_if_none:"-"}}
            {% if anamnese.medicamentos_outros %}
                , {{anamnese.medicamentos_outros}}
            {% endif %}
        </div>
    </div>
    <div class="info-label">Observações:
    <div class="info-data">{{anamnese.observacoes|default_if_none:"-"}}</div>
    </div>
        <div class="info-label">Médico: 
    <div class="info-data">{{anamnese.medico|default_if_none:"-"}}</div>
    </div>
    {% if anamnese.medico_assistente %}
    <div class="info-label">Médico Assistente: 
    <div class="info-data">{{anamnese.medico_assistente|default_if_none:"-"}}</div>
    </div>
    {% endif %}
</div>