{% extends 'anamneses/main.html' %} {% load widget_tweaks %}
{% block content %}

<div class="content login">
  <h2>Login</h2>
  <div class="form">
    {% for message in messages %}
      {{ message }}
    {% endfor %}  
    <form class="login-form" action="" method="POST">
    {%csrf_token %}
      <div class="name-section">
        <input type="text" name="username" autocomplete="off" required/>
        <label for="username" class="label-name">
          <span class="content-name">CRM</span>
        </label>
      </div>
      <div class="name-section">
        <input type="password" name="password" autocomplete="off" required/>
        <label for="password" class="label-name">
          <span class="content-name">Senha</span>
        </label>
      </div>
      <button type="submit" class="login-submit" formaction="{% url 'login'%}">Salvar</button>
      <a class="form-cancel" href="{% url 'inicio' %}">Cancelar</a>
    </form>
    </div>
</div>
{% endblock content %}
