{% extends 'anamneses/main.html' %} {% block content %}

{% for message in messages %}
  {{ message }}
{% endfor %}

<div class="content">
  <h2>Cadastrar Médico(a)</h2>
  <form action="" method="POST">
    {% csrf_token%}
    {% comment %} CRM {% endcomment %}
    {% comment %} {{form.username}} {% endcomment %}
    {% comment %} <p> {% endcomment %}
    {% comment %} {{form.password1.label}} {% endcomment %}
    {% comment %} {{form.password1}} {% endcomment %}
    {% comment %} <p>     {% endcomment %}
    {% comment %} {{form.password2.label}} {% endcomment %}
    {% comment %} {{form.password2}} {% endcomment %}
    {% comment %} <input type="submit" name="Cadastrar Médico" /> {% endcomment %}
    <div class="name-section">
      <input type="number" name="username" autocomplete="off" required/>
      <label for="username" class="label-name">
        <span class="content-name">CRM</span>
      </label>
    </div>
    <div class="name-section">
      <input type="text" name="nome" autocomplete="off" required/>
      <label for="nome" class="label-name">
        <span class="content-name">Nome do médico</span>
      </label>
    </div>
    <div class="name-section">
      <input type="password" name="password1" autocomplete="new-password" required/>
      <label for="password1" class="label-name">
        <span class="content-name">Senha</span>
      </label>
    </div>
    <div class="name-section">
      <input type="password" name="password2" autocomplete="new-password" required/>
      <label for="password2" class="label-name">
        <span class="content-name">Confirmação de Senha</span>
      </label>
    </div>
    <button type="submit" class="form-submit">Salvar</button>
    <a class="form-cancel" href="javascript:window.history.back()">Cancelar</a>  
  </div>
  </form>
</div>
{% endblock %} 